@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Poppins-Regular, sans-serif;
  color: #384047;
  background-color: #f2f2f2;
  margin: 0;

}

#sign-up-form {
  width: 32%;
  margin: 2vw auto;
  padding: 2vw;
  background: #FFF;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: Poppins-Medium, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: #FFFFFF;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  width: 100%;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'], input[type='radio'] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
 }
  input[type='checkbox']:after, input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
 }
  input[type='checkbox']:checked, input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
 }
  input[type='checkbox']:disabled, input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
 }
  input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
 }
  input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
    cursor: not-allowed;
 }
  input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
 }
  input[type='checkbox']:focus, input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
 }
  input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
    width: 21px;
 }
  input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
 }
  input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
    --o: 1;
 }
  input[type='checkbox'] + label, input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
 }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px;
 }
  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
 }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
 }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
 }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
 }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
 }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: 0.6;
 }
  input[type='radio'] {
    border-radius: 50%;
 }
  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
 }
  input[type='radio']:checked {
    --s: 0.5;
 }
}


select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.submit-btn {
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%);
    margin: auto;
    width: 18vw;
    height: 3.1vw;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 25px;
    display: block;
    font-family: Poppins-Medium, sans-serif;
    font-size: 100%;
    margin-bottom: 1vw;
}

.submit-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* .error {
  color: #FF0000;
} */

.flex-radio {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.number {
  background-color: #6927FF;
  color: #fff;
  height: 1.8vw;
  width: 1.8vw;
  display: inline-block;
  font-size: 0.8em;
  margin: auto;
  margin-right: 0.2vw;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  margin-left: -1.5vw;
}

.choice {
  text-decoration: none;
}

.text-muted {
  padding-top: 3vw;
  font-family: Poppins-Regular, sans-serif;
  font-size: 90%;
  color: #666666;
  line-height: 1.5;
}

.text-muted a {
  font-family: Poppins-Regular, sans-serif;
  font-size: 95%;
  color: #333333;
  line-height: 1.5;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.text-muted a:focus {
  outline: none !important;
}

.text-muted a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}