@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

#navbar {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5%;
	box-shadow: 0 6px 6px -6px black;
    background-color: #FFFFFF;
}

.logo {
	cursor: pointer;
	width: auto;
	height: 2vw;
	
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links a {
	transition: all 0.3s ease 0s;
}

.nav-links a:hover {
	color: #6927FF;
}

.btn-ln {
	display: flex;
	gap: 1vw;
}

.login-btn {
	background-color: #000;
}

.signup-btn {
	background-color: #6927FF;
}

.btn {
	padding: 9px 25px;
	color: #FFF;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.account-btn {
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.account-btn img {
	width: 2.5vw;
	height: 2.5vw;
	object-fit: contain;
}

.logout-btn {
	background: #FFF;
}

.logout-btn img {
	background: #FFF;
}

.account-btn:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
}